* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.offcanvas-header{
  background: #FF6565;
  color: #ffffff;
  text-transform: uppercase;
}

/* all section main heading css start */
.heading {
  font-family: "Katibeh", serif;
  font-weight: 400;
  line-height: 35px !important;
  text-align: center;
  color: #231942;
}
/* all section main heading css end */

/* buy now button css start */
.buynow-btn {
  outline: none;
  background: transparent;
  width: 125.77px;
  height: 37px;
  border-radius: 10px;
  border: 1px solid #516c76;
  & a {
    font-family: "Inter", sans-serif;
    text-decoration: none;
    color: #516c76;
  }
}
/* buy now button css end */

/* all AddToCartWishlist css start */
.cart {
  width: 43px;
  height: 43px;
  padding: 9px 8px 8.3px 7px;
  background: #000000;
  color: #ffffff;
  border-radius: 5px 5px 40px 5px;
  top: 469px;
  left: 497px;
}
/* all AddToCartWishlist css end */

/* swiper pagination css start */
.swiper-pagination {
  padding-inline: 25px;
  text-align: center;
  .swiper-pagination-total {
    position: relative;
    &::after {
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      top: 50%;
      background: #f7b5a7;
      margin-left: 10px;
    }
  }
  .swiper-pagination-current {
    position: relative;
    &::before {
      content: "";
      position: absolute;
      width: 40px;
      height: 2px;
      top: 50%;
      right: 100%;
      background: #f7b5a7;
      margin-right: 10px;
    }
  }
}
/* swiper pagination css end */

/* header section css start */

.navbar {
  padding: 10px 0px 10px 0px;
  background-color: transparent;
  position: fixed;
  width: 100%;
  z-index: 999;

  & img {
    width: 100%;
  }
  .navbar-brand {
    padding: 0px 15px 0px 30px;
  }
  .nav-link {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: 17.07px;
  }
  .nav-item {
    padding-inline: 20px;
    transition: all 0.8s ease;
    &:hover .nav-link {
      color: #f1b7a2;
    }
  }
  .navbar-icon {
    & i {
      margin-inline: 20px;
    }
  }
  .navbar-toggler {
    outline: #f1b7a2;
  }
  .navbar-toggler:focus {
    box-shadow: none;
  }
  .navbar-icon {
    & a {
      color: #000000;
      transition: all 0.5s ease;
      &:hover {
        color: #f1b7a2;
      }
    }
  }
}
.fixed-navbar {
  background-color: #ffffff;
  z-index: 999;
  .navbar-nav .nav-item {
    .nav-link {
      color: black;
      &:hover {
        color: #f1b7a2;
      }
    }
  }
}
/* header section css end */

/* clean-fresh section css start */
.clean-fresh-section {
  position: relative;
  .social-icon {
    z-index: 99;
    position: absolute;
    right: 1%;
    bottom: 0%;
    & i {
      margin-inline: 10px;
    } 
    & a {
      color: #000000;
    }
  }
  .swiper-pagination {
    text-align: left;
    margin-left: 60px;
    .swiper-pagination-total {
      &::after {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        top: 50%;
        background: #f7b5a7;
      }
    }
    .swiper-pagination-current {
      position: relative;
      &::before {
        content: "";
        position: absolute;
        width: 40px;
        height: 2px;
        top: 50%;
        right: 100%;
        background: #f7b5a7;
      }
    }
  }
  .clean-fresh {
    min-height: 100vh;
    background: url("./assets/img/cleanFresh/slide1.png") no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;

    .clean-fresh-info {
      position: absolute;
      top: 50%;
      left: 5%;
      & h1 {
        font-family: "Lexend Deca", sans-serif;
        font-weight: 700;
        line-height: 81.25px;
      }
      & h3 {
        font-family: "Inter", sans-serif;
        font-weight: 500;
        line-height: 20px;
      }
    }
  }
}
/* clean-fresh section css end */

/* customer-favorites-section css start */
.customer-favorites-section {
  margin-top: 50px;
  font-family: "Katibeh", serif;
  .makeup-collection {
    margin: 10px 0px;
    border-radius: 10px;
    padding: 100px 20px 30px 20px;
    background: url("./assets/img/customersFavorites/makeup.png") no-repeat;
    background-size: 100% 100%;
  }

  .lipstick-collection {
    background: url("./assets/img/customersFavorites/lipstick.png") no-repeat;
    background-size: 100% 100%;
  }

  .eyeliner-collection {
    padding: 150px 10px;
    margin-top: 10px;
    background: url("./assets/img/customersFavorites/eyeliner.png") no-repeat;
    background-size: 100% 100%;
    position: relative;

    .eyeliner-info {
      margin-right: 50px;
      position: absolute;
      top: 50%;
      right: 0%;
    }
  }

  & h3 {
    font-weight: 400;
    line-height: 47.36px;
    color: #231942;
  }
  & p {
    font-size: 15px;
    font-weight: 500;
    line-height: 11.1px;
    letter-spacing: 0.18em;
  }
  & a {
    font-family: Katibeh;
    font-size: 25px;
    font-weight: 400;
    line-height: 20px;
    color: #264958;
  }
}
/* customer-favorites-section css end */

/* best-product-section css start */
.best-product-section {
  margin-top: 50px;
  .best-product-card {
    margin: 30px 0px 50px 0px;
    border: 2px solid #e2e2e3;
    border-radius: 0px 70px 70px 0px;
  }
  .best-product-info {
    padding-left: 30px;
    & h2 {
      color: #55a47a;
    }
    & h3,
    h2 {
      font-family: "Katibeh", serif;
    }
    & p {
      font-family: "Inter", sans-serif;
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #264958;
      margin-bottom: 0px;
      text-transform: uppercase;
    }
    & a {
      color: #264958;
      font-family: "Katibeh", serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 20px;
    }
  }
  .best-product-img {
    padding: 20px 0px 20px 0px;
    border-left: 2px solid #e2e2e3;
    text-align: center;
  }
}
/* best-product-section css end */

/* Popular-Product-Section css start */
.popular-product-section {
  margin-top: 50px;
}
.product-card {
  padding-inline: 15px;
}
.product-box {
  margin: 20px 0px 40px 0px;
  padding: 20px 0px;
  background: url("./assets/img/popularProduct/product-card-bg.png") no-repeat;
  background-position: center;
  background-size: 100% 100%;
  border-radius: 10px;
  position: relative;

  .product-images{
    & img{
      height: 205px;
    }
  }

  & h3 {
    display: inline;
    font-family: "Katibeh", serif;
  }
  & span {
    border-radius: 0px 27.8px 27.8px 0px;
    background: #d7f3e3;
    padding: 15px 21px 6px 0px;
  }
  .star-icon {
    & i {
      color: #ffc530;
      margin-right: 8px;
    }
  }
  & h5 {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 10px;
    color: #231942;
    font-size: 16px;
    text-transform: uppercase;
  }
  & p {
    color: #264958;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    line-height: 18px;
    font-size: 13px;
    text-transform: uppercase;
  }
  .wishlist {
    color: #000000 !important;
    font-size: 22px;
    position: absolute;
    top: 2%;
    right: 3%;
  }
}
/* Popular-Product-Section css end */

/* combo-section css start */
.combo-section {
  padding-top: 50px;
  .subheading {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    font-weight: 600;
    text-align: center;
  }
  .combo-box {
    margin: 30px 0px 50px 0px;
    .combo-card {
      width: 90%;
      margin: auto;
      .combo-image {
        padding: 35px 0px;
      }
      border: 2px solid #e2e2e3;
      border-radius: 90px 90px 0px 0px;
      & h2 {
        font-family: "Katibeh", serif;
        font-size: 42px;
        font-weight: 400;
        color: #55a47a;
      }
      & h3 {
        font-family: "Katibeh", serif;
        font-size: 35px;
        font-weight: 400;
        color: #231942;
        line-height: 30px;
      }
      & p {
        font-family: "Inter", sans-serif;
        font-size: 14px;
        font-weight: 500;
        color: #264958;
        text-transform: uppercase;
        margin-bottom: 0px;
      }
      .sub-title {
        margin: 20px 0px 10px 0px;
      }
      .combo-info {
        border-top: 2px solid #e2e2e3;
        padding: 5px 0px 20px 25px;
      }
    }
  }
}
/* combo-section css end */

/* beauty-for-a-better-section css start */
.beauty-for-a-better-section {
  padding-top: 50px;
  .start-icon {
    position: relative;
    padding: 0px 0px 50px 0px;
  }
  .star-icon-img {
    position: absolute;
    left: 23%;
  }
  & p {
    margin-top: 20px;
    text-transform: uppercase;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: #264958;
  }
  .experience {
    margin: 30px 0px 0px 0px;
    padding: 20px 0px 20px 20px;
    background: linear-gradient(
      89.79deg,
      rgba(254, 248, 240, 0.84) 0.16%,
      #d4f2e2 97.3%
    );
    border-radius: 0px 90px 90px 0px;

    & h2 {
      font-family: "Katibeh", serif;
      font-weight: 400;
      color: #231942;
      line-height: 40px;
    }
  }
  .beauty-image {
    .info {
      padding-left: 80px;
    }
    .star-img {
      padding-right: 100px;
    }
    .good-vibe-img {
      width: 100%;
    }
  }
}
/* beauty-for-a-better-section css end */

/* natural-cream-sale-section css start */
.natural-cream-sale-section {
  margin-top: 100px;
  background: url("./assets/img/NaturalCreamSale/naturalCreamBg.png") no-repeat;
  background-position: center;
  background-size: cover;

  .natural-cream-content {
    padding-top: 80px;
    & p,
    h6 {
      font-family: "Inter", sans-serif;
    }
    & h6 {
      font-weight: 600;
      line-height: 0px;
      color: #231942;
    }
    & h2 {
      font-family: "Katibeh", serif;
      font-weight: 400;
      line-height: 65px;
      color: #231942;
      text-transform: uppercase;
    }
    & p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #264958;
      text-transform: uppercase;
    }
    .time {
      margin: 20px 0px;
      & span {
        border: 2px solid #e2e2e3;
        border-radius: 0px 50px 50px 0px;
        padding: 30px 10px 10px 10px;
        & p {
          display: inline;
          font-family: "Katibeh", serif;
          font-size: 62px;
          font-weight: 400;
          line-height: 56px;
          text-align: center;
          color: #516c76;
        }
      }
      .hour {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
      }
      .colon {
        border: none;
      }
      .second-cox {
        margin-left: 25px;
      }
    }
  }
}
/* natural-cream-sale-section css end */

/* testimonioal-section css start */
.testimonioal-section {
  background: url("./assets/img/testimonioal/Awesome.png") no-repeat;
  background-position: right bottom;
  margin-top: 80px;
  .testimonioal-info {
    padding: 30px 0px 0px 0px;
    max-width: 600px;
    & h5,
    p,
    h6,
    small {
      font-family: "Inter", sans-serif;
    }
    & h5,
    h2,
    p,
    h6,
    small {
      text-transform: uppercase;
    }
    & h5 {
      font-weight: 600;
      line-height: 20px;
      color: #231942;
    }
    & h2 {
      font-family: "Katibeh", serif;
      font-weight: 400;
      line-height: 70px;
      color: #231942;
    }
    & p {
      font-size: 16px;
      font-weight: 500;
      line-height: 24px;
      color: #264958;
    }
    & h6 {
      font-size: 20px;
      font-weight: 600;
      line-height: 10px;
      margin-top: 40px;
    }
    & small {
      font-size: 13px;
      font-weight: 500;
      line-height: 24px;
      color: #264958;
    }
  }
}
/* testimonioal-section css end */

/* subscribe-our-newsletter css start */
.subscribe-our-newsletter {
  padding: 50px 0px;
  margin-top: 80px;
  background: url("./assets/img/subscribe/subscribe-bg.png") no-repeat;
  background-size: 100% 100%;
  background-position: center;
  border-radius: 20px;

  & p {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase;
    margin-top: 50px;
  }
  & input {
    border: none;
    width: 362px;
    height: 41px;
    border-radius: 10px;
    padding-inline: 30px;
    margin: 40px 10px 0px 10px;
  }
  & button {
    width: 133px;
    height: 41px;
    border-radius: 10px;
    border: 1px solid #516c76;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    text-transform: uppercase;
    margin: 40px 10px 0px 10px;
    & a {
      text-decoration: none;
      color: #516c76;
    }
  }
}
/* subscribe-our-newsletter css end */

/* brand-slider-section css start */
.brand-slider-section {
  padding: 50px 0px;
  .brand-image {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
/* brand-slider-section css end */

/* footer-section css start */
.footer-section {
  padding: 80px 0px 0px 0px;
  background: url("./assets/img/footer-bg.png") no-repeat;
  background-size: cover;
  transition: all 0.5s ease;
  color: #ffffff;
  & a:hover {
    color: #d6c6a1;
  }

  .social-icon {
    & i {
      width: 30px;
      height: 30px;
      background: #ffffff;
      border-radius: 50%;
      text-align: cover;
      line-height: 30px;
      margin-right: 10px;
      text-align: center;
      color: #000000;
      transition: all 0.5s ease;
      &:hover {
        background: #d6c6a1;
      }
    }
  }
  & h6 {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    font-weight: 500;
    color: #ffffff;
    margin: 20px 0px;
  }
  & h3 {
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 17.07px;
  }
  .contact-us {
    & i,
    .location {
      color: #d6c6a1;
    }
  }
  & a,
  p {
    text-decoration: none;
    color: #d2d3d2;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 17.07px;
  }
  .footer-menu {
    border-top: 2px solid #353535;
    text-align: center;
    padding: 20px 0px;
    margin-top: 80px;
    & a {
      margin-inline: 40px;
    }
  }
  /* .logo,
  .privacy-policy,
  .instagram {
    margin-top: 10px;
  } */
}
/* footer-section css end */

/* banner section css start */
.banner-section {
  margin-top: 80px;
  background: #fef8f0;
  padding: 50px 0px 50px 100px;
  & h2,
  a {
    font-family: "Inter", sans-serif;
  }
  & h2 {
    font-size: 28px;
    font-weight: 500;
    line-height: 40px;
    color: #231942;
  }
  & a {
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    color: #264958;
    text-decoration: none;
  }
}
/* banner section css end */

/* product page css start */
.productPage {
  .accordion-button {
    background-color: #fef8f0;
    font-family: "Inter", sans-serif;
    font-size: 21px;
    font-weight: 600;
    line-height: 25.41px;
    text-align: left;
    color: #0e032d;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: #fef8f0;
    outline: 0;
    box-shadow: none;
  }

  .filters {
    margin-top: 20px;
    border-bottom: 1px solid #d3d3d3;
    padding-bottom: 20px;
    & h2,
    p {
      font-family: "Inter", sans-serif;
    }
    & h2 {
      font-size: 21px;
      font-weight: 600;
      line-height: 25.41px;
      text-transform: uppercase;
    }
    & p a {
      font-size: 16px;
      font-weight: 400;
      line-height: 19.36px;
      color: #fe2b1e;
      text-decoration: none;
    }
  }
  .sortby {
    margin-top: 30px;
    .sortby-item {
      margin: 20px 0px 20px 0px;
      & img {
        margin-right: 10px;
      }
      & a {
        text-decoration: none;
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 400;
        line-height: 21.78px;
        color: #0e032d;
      }
      .rating {
        color: #02662c;
      }
    }
  }
  .brands {
    margin-top: 50px;
    .brand {
      padding: 20px 0px 20px 20px;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
      text-align: left;
      color: #0e032d;

      & input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      .more-item {
        padding-left: 30px;
        & a {
          color: #fe2b1e;
        }
      }
    }
  }
  .categories {
    margin-top: 50px;
    .category {
      padding: 20px 0px 20px 20px;
      font-family: "Inter", sans-serif;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
      text-align: left;
      color: #0e032d;

      & input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      .more-item {
        padding-left: 30px;
        & a {
          color: #fe2b1e;
        }
      }
    }
  }
  .rating {
    margin: 50px 0px;
    .category {
      color: #ffc530;
      padding: 20px 0px 20px 20px;

      & input {
        margin-right: 10px;
        width: 20px;
        height: 20px;
      }
      .dark-star {
        color: #bdc4cd;
      }
    }
  }
}
/* product page css end */

/* product-detail page css start */
.product-detail {
  font-family: "Inter", sans-serif;
  .Premioum-collection {
    & input {
      width: 18px;
      height: 18px;
    }
    & h6,
    h2 {
      text-transform: uppercase;
    }
    & h6 {
      font-size: 16px;
      font-weight: 500;
      line-height: 20px;
    }
    & h2 {
      font-weight: 500;
      line-height: 66px;
      text-align: left;
    }
    & i {
      color: #ffc530;
      margin-right: 5px;
    }
    & span {
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      color: #a7a2a2;
      margin-left: 50px;
    }
    .ml-bottle {
      padding: 20px 0px 20px 0px;
      border-top: 1px solid #ecebeb;
      border-bottom: 1px solid #ecebeb;
      & label {
        font-size: 18px;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        color: #a7a2a2;
      }
      & b {
        font-size: 20px;
        font-style: italic;
        line-height: 20px;
        color: #000000;
      }
      & input {
        margin-right: 20px;
      }
      & p {
        padding-left: 35px;
        color: #a7a2a2;
      }
    }
    .counting {
      border-bottom: 1px solid #ecebeb;
      padding: 30px 0px 30px 0px;
      .count {
        padding: 10px;
        border-radius: 10px;
        border: 1px solid #ff6565;
        max-width: 150px;
        & button {
          padding: 0px 10px;
          border: none;
          background: none;
          color: #a7a2a2;
        }
        .decrement {
          border-right: 1px solid #d8d6d6;
        }
        .increment {
          border-left: 1px solid #d8d6d6;
        }
        & p {
          margin: 0px;
          padding-inline: 20px;
          color: #a7a2a2;
        }
      }
    }
    .shipping {
      font-size: 16px;
      font-style: italic;
      font-weight: 400;
      line-height: 20px;
      .add-to-cart {
        border: none;
        margin-left: 50px;
        background: #ff6565;
        padding: 10px 20px;
        border-radius: 10px;
        text-decoration: none;
        color: #ffffff;
      }
    }
  }
  .specification {
    & p {
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
    }
    .sepcification-title {
      & p {
        color: #525252;
      }
    }
    .info {
      border-top: 1px solid #e3e3e3;
      padding: 30px 0px;
    }
  }

  .product-img {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width: 30%;
    }
    background: url("./assets/img/popularProduct/product-card-bg.png") no-repeat;
    background-size: 100% 100%;
  }
  .viewAll {
    display: flex;
    justify-content: end;
    margin-right: 55px;
    & a {
      color: #fe2b1e;
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
    }
  }
  .shopping-cart{
    & h5{
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      color:#231942;
    }
    & p{
      font-size: 15px;
      font-weight: 600;
      line-height: 20px;
      color: #59595C;
    }
  }
  .shopping-total{
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    color:#231942;
  }
}
.review-section {
  padding: 50px 0px 100px 0px;
  .nav-link {
    margin-right: 40px;
    background: white;
    color: black;
    border-bottom: 1px solid black;
    border-radius: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 500;
    line-height: 20px;
  }
  .leaveAReply {
    & span {
      font-size: 22px;
      font-weight: 500;
      line-height: 20px;
      border-bottom: 2px solid #000000;
    }
    & label {
      color: #525252;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      margin: 20px 0px;
    }
    & input {
      width: 100%;
      border: none;
      outline: none;
      border-bottom: 1px solid #c8c8c8;
      border-radius: 0px;
    }
    .feedback {
      padding-top: 40px;
    }
    .rating {
      padding: 20px 0px;
      & i {
        margin-inline: 3px;
        color: #ffc530;
      }
    }
    .submit-btn {
      width: 150px;
      height: 40px;
      background: #ff6565;
      border-radius: 10px;
      text-transform: uppercase;
      color: #ffffff;
    }
  }
}
.reiview-card {
  margin: 20px 0px;
  width: 90%;
  padding: 10px 0px 10px 30px;
  background: #fef8f0;
  .rating-star {
    padding-right: 40px;
  }
  & i {
    margin-inline: 2px;
    color: #ffc530;
  }
  & p {
    padding: 20px 10px 0px 0px;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    color: #364958;
  }
}
.shopping-cart-sec{
  padding: 30px 30px;
}
.submit-btn{
  width: 100%;
  border: none;
  outline: none;
  background: #FF6565;
  border-radius: 10px;
  padding: 13px 0px;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  & a{
    text-decoration: none;
    color: #ffffff;
  }
}
.checkout-btn{
  background: #00CD60;
}
/* product-detail page css end */

/* wishlist card css start */
.move-btn {
  & a {
    text-decoration: none;
    border: 1px solid #516c76;
    padding: 8px 15px;
    border-radius: 10px;
    color: #516c76;
  }
}
/* wishlist card css end */

/* checkout-page css start */
.checkout-section {
  margin: 80px 0px;
  font-family: "Inter", sans-serif;

  .your-order {
    border: 2px solid #e2e2e3;
    border-radius: 10px;
    padding: 30px;
  }

  .form-check-radio {
    margin-top: 40px;
    margin-bottom: 20px;
    & p {
      font-size: 14px;
      font-weight: 500;
      line-height: 20px;
      color: #7b828c;

      & a {
        color: #ff5b67;
      }
    }
  }

  & h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;

    & span {
      border-bottom: 1px solid #000000;
    }
  }
  .coupon {
    padding: 28px 30px;
    background: #eeeff2;
    border-top: 1px solid #000000;

    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    text-transform: uppercase;
    & a {
      text-decoration: none;
      color: #000000;
    }
  }
  .border-bottom {
    border-bottom: 1px solid #e2e2e3;
  }
  .submit-btn {
    margin-top: 30px;
    padding: 10px 130px;
    border-radius: 10px;
    background: #ff6565;
    color: #ffffff;
    border: none;
    outline: none;
  }
  .billing-detail {
    padding-right: 150px;
  }
}

/* checkout-page css end */

/* address-section css start */
.address-section {
  margin: 80px 0px 50px 0px;
  font-family: "Inter", sans-serif;

  .ckeckout {
    margin-top: 80px;
    padding: 25px 30px;
    background: #eeeff2;
    border-top: 1px solid #000000;
    text-transform: uppercase;
    & a {
      text-decoration: none;
      font-size: 10px;
      font-weight: 400;
      line-height: 19px;
      color: #25252d;
      & img {
        margin-top: -5px;
      }
    }
  }
  & h6 {
    font-size: 20px;
    font-weight: 600;
    line-height: 20px;
    & span {
      border-bottom: 1px solid #000000;
    }
  }
  .save-continue-btn {
    margin-top: 30px;
    & button {
      width: 100%;
      background: #ff6565;
      padding: 10px 0px;
      border-radius: 10px;
      border: none;
      outline: none;
    }
  }
  .light-text {
    color: #7b828c;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
  }
}
/* address-section css end */

/* rating-reviews-section css start */
.nav-pills .nav-link.active {
  background-color: #ffffff;
  color: #000000;
}
.rating-reviews-section {
  margin: 80px 0px 0px 0px;

  .progressBar-section{
    margin-top: 70px;
    border: 1px solid #DEE2E7;
    padding: 50px 0px 50px 0px;
  }
  .rating-star-border{
    border-right: 2px solid #999494;
  }
  .rating-star {
    padding: 10px 0px 10px 0px;
    .star {
      color: #ffc530;
    }
    & h3 {
      font-family: "Poppins", sans-serif;
      font-size: 40px;
      font-weight: 400;
      line-height: 60px;
    }
    & p {
      font-size: 18px;
      font-weight: 400;
      line-height: 21.78px;
      color: #0000008f;
    }
  }
  .progressbar {

    max-width: 500px;
    padding-left: 40px;
    & i{
      color: #ffc530;
    }
  }

  .progress-bar {
    background: #ffc530;
    border-radius: 25px;
  }
  .flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
  }
}
/* rating-reviews-section css end */

/* order-section css start */
.order-section{
  font-family: "Inter", sans-serif;

  .order-id{
    padding-left: 40px;
    & h3{
      font-weight: 600;
      line-height: 38px;
      color: #344054;
      margin-top: 20px;
    }
    & p{
      font-size: 18px;
      font-weight: 500;
      line-height: 21.78px;
      color: #949494;
    }
  }
  .order-img{
    display: flex;
    align-items: center;
    justify-content: center;
    background: #FF6565;
    width: 70px;
    height: 70px;
    top: 390px;
    border-radius: 12px;
  }
  .product-review{
    font-size: 12px;
    font-style: italic;
    font-weight: 400;
    line-height: 30px;
    color: #0000008A;
  }
  .your-order {
    padding: 30px;
    & h6 {
      font-size: 20px;
      font-weight: 600;
      line-height: 20px;
  
      & span {
        border-bottom: 1px solid #000000;
      }
    }
  }
 
  .order-text{
    & p{
      color: #303733;
      font-size: 18px;
      font-weight: 500;
      line-height: 28px;
    }
    .order-delivered{
      color:#ACABAB;
    }
  }
  .order-text-light{
    & p{
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      color:#303733;
    }
    .order-delivered{
      color:#ACABAB;
    }
  }
  .order-detail{
    width: 600px;
    margin: auto;
    .order-placed-img{
      height: 3px;
      width: 165px;
      background: #00000096;
    }

    .order-line{
      display: flex;
      flex-direction: row;
      align-items: center ;
    }
  } 
  .stock-text{
    line-height: 3px;
  }
}
/* order-section css end */

.modal-right {
  margin-top: 40px;
  transform: translateX(28%); 
}
.btn-primary{
  margin: 10px 0px;
  /* width: 100%; */
  background: #ffffff;
  color: #000000;
  border: 1px solid #000000;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}




@media (max-width: 768px) {
  .customer-favorites-section {
    .eyeliner-collection {
      padding: 150px 10px;
      background-size: cover;
    }
  }
  .footer-section {
    .footer-menu {
      & a {
        margin-inline: 20px;
      }
    }
  }
  .customer-favorites-section {
    .makeup-collection {
      background-size: cover;
    }
    .lipstick-collection {
      background-size: cover;
    }
    .eyeliner-collection {
      background: url("./assets/img/customersFavorites/eyeliner.png") no-repeat;
      background-size: cover;
    }
  }
  .natural-cream-sale-section {
    background: #fef8f0;
  }
  .testimonioal-section {
    background: #ffffff;
    .testimonioal-info {
      padding-bottom: 50px;
    }
  }
  .checkout-section {
    .submit-btn {
      padding: 10px 150px;
    }
  }
  .rating-reviews-section {
  .rating-star {
    border-right: none;
  }
  .progressbar {
    padding-left: 0px;
  }
}
}

@media (max-width: 600px) {
  .subscribe-our-newsletter {
    background-size: cover;
    & p {
      margin-top: 30px;
    }
    & input {
      width: 280px;
      margin: 20px 0px 0px 0px;
    }
    & button {
      margin: 20px 0px 0px 0px;
    }
  }
  .footer-section {
    padding: 50px 0px 0px 0px;
    text-align: center;
    .logo,
    .privacy-policy,
    .instagram {
      margin-top: 20px;
    }
    .logo {
      margin-bottom: 30px;
    }
    .footer-menu {
      margin-top: 50px;
      & a {
        margin-inline: 5px;
      }
    }
  }
  .beauty-for-a-better-section {
    .beauty-image {
      .info {
        padding-left: 0px;
        padding-top: 15px;
      }
    }
  }
  .product-detail {
    font-family: "Inter", sans-serif;
    .Premioum-collection {
      & input {
        width: 18px;
        height: 18px;
      }
      & h6,
      h2 {
        text-transform: uppercase;
      }
      & h6 {
        font-size: 16px;
        font-weight: 500;
        line-height: 20px;
      }
      & h2 {
        font-weight: 500;
        line-height: 66px;
        text-align: left;
      }
      & i {
        color: #ffc530;
        margin-right: 5px;
      }
      & span {
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        color: #a7a2a2;
        margin-left: 50px;
      }
      .ml-bottle {
        padding: 20px 0px 20px 0px;
        border-top: 1px solid #ecebeb;
        border-bottom: 1px solid #ecebeb;
        & label {
          font-size: 18px;
          font-style: italic;
          font-weight: 400;
          line-height: 20px;
          color: #a7a2a2;
        }
        & b {
          font-size: 20px;
          font-style: italic;
          line-height: 20px;
          color: #000000;
        }
        & input {
          margin-right: 20px;
        }
        & p {
          padding-left: 35px;
          color: #a7a2a2;
        }
      }
      .counting {
        border-bottom: 1px solid #ecebeb;
        padding: 30px 0px 30px 0px;
        .count {
          padding: 10px;
          border-radius: 10px;
          border: 1px solid #ff6565;
          max-width: 150px;
          & button {
            padding: 0px 10px;
            border: none;
            background: none;
            color: #a7a2a2;
          }
          .decrement {
            border-right: 1px solid #d8d6d6;
          }
          .increment {
            border-left: 1px solid #d8d6d6;
          }
          & p {
            margin: 0px;
            padding-inline: 20px;
            color: #a7a2a2;
          }
        }
      }
      .shipping {
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
        line-height: 20px;
        & a {
          margin-left: 50px;
          background: #ff6565;
          padding: 10px 20px;
          border-radius: 10px;
          text-decoration: none;
          color: #ffffff;
        }
      }
    }
    .specification {
      & p {
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
      }
      .sepcification-title {
        & p {
          color: #525252;
        }
      }
      .info {
        border-top: 1px solid #e3e3e3;
        padding: 30px 0px;
      }
    }
    .review-section {
      padding: 50px 0px 100px 0px;
      .nav-link {
        margin-right: 40px;
        background: white;
        color: black;
        border-bottom: 1px solid black;
        border-radius: 0px;
        padding: 0px;
        font-size: 20px;
        font-weight: 500;
        line-height: 20px;
      }
      .leaveAReply {
        & span {
          font-size: 22px;
          font-weight: 500;
          line-height: 20px;
          border-bottom: 2px solid #000000;
        }
        & label {
          color: #525252;
          font-size: 16px;
          font-weight: 400;
          line-height: 20px;
          margin: 20px 0px;
        }
        & input {
          width: 100%;
          border: none;
          outline: none;
          border-bottom: 1px solid #c8c8c8;
          border-radius: 0px;
        }
        .feedback {
          padding-top: 40px;
        }
        .rating {
          padding: 20px 0px;
          & i {
            margin-inline: 3px;
            color: #ffc530;
          }
        }
        .submit-btn {
          width: 150px;
          height: 40px;
          background: #ff6565;
          border-radius: 10px;
          text-transform: uppercase;
          color: #ffffff;
        }
      }
    }
    .reiview-card {
      margin: 20px 0px;
      width: 90%;
      padding: 10px 0px 10px 30px;
      background: #fef8f0;
      .rating-star {
        padding-right: 40px;
      }
      & i {
        margin-inline: 2px;
        color: #ffc530;
      }
      & p {
        padding: 20px 10px 0px 0px;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
        color: #364958;
      }
    }
  }

  .checkout-section {
    margin: 60px 0px;

    .submit-btn {
      padding: 10px 80px;
    }
    .billing-detail {
      padding-right: 0px;
    }
  }

  .order-section
  .order-detail
  .order-placed-img {
      width: 100px;
  }
  .order-section
  .order-detail {
      width: 450px;
  }
}

@media (max-width: 500px) {
  .order-section
  .order-detail
  .order-placed-img {
      width: 50px;
  }
  .order-section
  .order-detail {
      width: 300px;
  }
}


@media (max-width: 280px) {
  .subscribe-our-newsletter {
    background-size: cover;
    & input {
      width: 200px;
    }
  }
  .natural-cream-sale-section {
    .natural-cream-content {
      .time {
        .second-cox {
          margin-left: 0px;
        }
      }
    }
  }
  .footer-section {
    .footer-menu {
      & a {
        margin-inline: 1px;
      }
    }
  }
  .checkout-section {
    .submit-btn {
      padding: 10px 50px;
    }
  }

  .order-section
  .order-detail
  .order-placed-img {
      width: 35px;
  }
  .order-section
  .order-detail {
      width: 200px;
  }

  .order-section{
    .order-text{
      & p{
        font-size: 12px;
        line-height: 20px;
      }
    }
    .order-text-light{
      & p{
        font-size: 12px;
        line-height: 14px;
      }
    }
  }
  
}
